.header {
	margin-top: 6rem;
	text-align: center;
}

.container {
	max-width: 80rem;
}

.contacts-container {
	background-color: #4CAF50;
	width: 100%;
	height: 35vh;
	text-align: center;
}

.contacts-container > .container {
	padding-top: 12vh;
}

.contacts-icon {
	display: inline;
}

.contacts-icon-list {
	display: flex;
	justify-content: space-between;
	list-style: none;
	padding-left: 18%; 
	padding-right: 18%;
}

.icon-java-bold,
.icon-kotlin,
.icon-python,
.icon-html,
.icon-css,
.icon-javascript,
.icon-database-alt,
.icon-bootstrap,
.icon-hadoop,
.icon-git,
.icon-gerrit,
.icon-postgres,
.icon-angular-alt,
.icon-nodejs {
	font-size: 3rem;
}

.icon-padding-fix {
	padding-top: 0.6rem;
	margin-bottom: -0.6rem;
}

.language-list {
	list-style: none;
}

.name {
	margin-bottom: .5rem;
}

#navbar {
	display: none;
}

.meridian-image { 
	transform: translateY(-1.5vw);
	width: 100%;
	height: auto;
}

.portrait-cropper {
  border-radius: 50%;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  width: 20rem;
  height: 20rem;
}

.portrait {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 0% 0%;
  transform: scale(2.5) translateY(25%) translateX(10%);
}


.posttid-image {
	transform: translateY(-15vw) translateX(-45vw);
	width: 400%;
	height: auto;
}

.projects {
	border-bottom: 1px solid #eee;
	border-top: 1px solid #eee;
}

.projects, 
.skills {
  padding: 6rem 0;
}

.project-image-container {
	border: 1px solid #eee;
	border-radius: 0.5rem;
	display: block;
	width: 80%;
	height: 30rem;
	margin: 0 auto;
	margin-bottom: 4rem;
	overflow: hidden;
	position: relative;
}

.project-image-info {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 100%;
	width: 100%;
	opacity: 0;
	transition: .5s ease;
	background-color: black;
}

.project-image-container:hover
.project-image-info {
	opacity: 0.3;
}

.project-name {
	color: white;
	font-size: 3.5rem;
	position: absolute;
	top: 30%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	text-align: center;
}

.project-title {
	text-align: center;
}

.restaurando-image { 
	width: 100%;
	height: auto;
}

.role {
	color: #888;
	margin-top: 0;
}

.skill-list-item {
	border: 1px solid red;
	border-radius: 24px;
	display: inline;
	float: left;
	margin-right: 1rem;
	padding: 0.5rem 2rem;
	height: 5rem;
}

.skill-subsection {
	display: inline-block;
	margin-bottom: 4rem;
	width: 100%;
}

.skill-proficient {
	border-color: green;
}

.stock-chart-image {
	object-fit: none;
	transform: translateX(-38%);
}

.twitter-news-image {
	object-fit: cover;
}

ul {
	margin-bottom: 0;
	margin-top: 0;
	padding-left: 0;
}

.userinfo {
	margin-top: 4rem;
	margin-bottom: 4rem;
}

@media (min-width: 550px) {
	.header {
		margin-top: 16rem;
	}

	.posttid-image {
		transform: translateX(-18vw) translateY(-6vw);
	}

	.project-image-container {
		width: 95%;
		height: 25vw;
		margin-bottom: 0;
	}

	#project-display > .row {
		margin-top: 4rem;
	}

	.project-image-container:before {
		width: 45.8%;
		height: 47%;
	}

	.restaurando-image {
		transform: translateY(-2vw);
	}

	.stock-chart-image {
		object-fit: none;
	}

	.twitter-news-image {
		object-fit: cover;	
	}

}

@media (min-width: 750px) {
	#navbar-spacer,
	#navbar {
		background: #fff;
		border-top: 1px solid #eee;
		border-bottom: 1px solid #eee;
		display: block;
		width: 100%;
		height: 6.5rem;
		z-index: 100;
	}

	.navbar > .container {
		width: 100%;
	}

	.navbar-fixed {
		position: fixed;
		top: 0;
		left: 0;
	}

	.navbar-item {
		float: left;
		margin-bottom: 0;
		position: relative;
	}

	.navbar-link {
		color: #222;
		font-size: 11px;
		font-weight: 600;
		letter-spacing: .2rem;
		line-height: 6.5rem;
		margin-right: 6rem;
		text-decoration: none;
		text-transform: uppercase;
	}

	#navbar-spacer {
		display: none;
	}

	.navbar-list {
		list-style: none;
		margin-bottom: 0;
	}

	.userinfo {
		margin-bottom: 16rem;
	}
}
